@import './variables.scss';

body {
  font-size: 62.5%;
  color: $color-grey;
  line-height: 2;
  letter-spacing: .1em;
}
h1 {
  color: $color-green;
  font-size: $font-size-large;
}
a {
  text-decoration: none;
  color: $color-grey;
  &:hover {
    opacity: .7;
  }
}
div [class$="wrapper"] {
  padding: 0 5rem;
}